body{
    min-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.all{
    width: 80%;
    height: 80%;
    /* border: 2px solid black; */
    overflow-y: scroll;
    /* overflow: hidden;  */
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.body-container{
    display: flex;
}

/* header{ 
    display: flex;
    justify-self: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: white;
    border-bottom: 1px solid #ccc;
} */

.sidenote {
    width: 30%;
    height: 100%;
    background-color: brown;
    color: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    padding: 10px;
    /* line-height: 1.6; */
    position: relative; /* Ensure the element's position is relative to allow for animation */
    left: -100%; /* Start off-screen to the left */
    transition: ease-in;
    animation: slideIn 1s forwards; /* Apply slide-in animation */
}

@keyframes slideIn {
    0% {
        left: -100%;
    }
    100% {
        left: 0; /* End at its normal position */
    }
}

.sidenote p {
    margin-bottom: 20px; /* Adjust the space between paragraphs */
}

#f1{
    font-size: 2rem;
}


.content-container{
    height: 100%;
    width: 68%;
    overflow-y: scroll;
    scrollbar-width: none;
}

#address{
    font-weight: 100;
    font-size: 10px;
    text-align: right;  
    display: block;     
    margin-left: auto;
    width: 200px; 
}

.header-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

header, main {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo-container img{
    height: 30px;
    margin-right: 10px ;
}

#options{
    color: white;
    background-color: black;
    overflow: hidden; /* Ensures the text is hidden until the animation reveals it */
    white-space: nowrap; /* Prevents text from wrapping */
    border-right: 2px solid white; /* Creates the cursor effect */
    animation: typewriter 2s steps(40) 1s 1 normal both,blink 0.75s step-end 2s 1 normal both;
    transition: 2s ease-in-out;
}

/* #edu_button, #ada_button{
    color: white;
    background-color: black;
} */

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 25%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#calc{
    margin: 0;
    font-size: 24px;
    font-weight: 900;
}

#company{
    margin: 0;
    font-size: 10px;
    font-weight: 200;
}

.lang_skills h2{
    font-size:large;
}

#options{
    color: white;
    background-color: black;
}

h1{
    text-transform: uppercase;
    color: black;
}

h1:hover{
    color: brown;
    transition: 0.3s;
    transform: translateY(-3px);
}

#h3, #h4{
    font-family: Helvetica, sans-serif;
    font-size: small;
}

.lang_skills, .education, .age, .employment, .work_exp, .adaptibility, details{
    padding: 8px;
}

.totalbutton{
    padding-bottom:  10px; ;
}

#total_button{
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    padding:10px 20px;
    border-color: white;
    font-weight: 400;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

#total_button:hover{
    background-color: brown;
    color: white;
    letter-spacing: 0.05rem;
    /* box-shadow: 0 0 30px brown; */
}

body {
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 600px){
    .all{
        width: 100%;
        height: 100%;
    }
    #company{
        font-size: 5px;
    }
    #calc{
        font-size: 10px;
    }
}
